
*{
    padding: 0;
    margin: 0;
}

/* Style Index.jsx */

.BodIndex{
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.BodIndex .container{
    padding-left: 50px;    
    padding-right: 50px;    
}

.BodIndex .container .col1{    
    width:30%;
    float: left;
}

.BodIndex .container .col1 .box{
    width: 100%;
    padding-top: 35px;
}

.BodIndex .container .col1 .box .group{
    padding-right:50px;    
}

.BodIndex .container .col1 .box .group2{
    display: none;
}

.BodIndex .container .col1 .box .group .txt-title{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;

    font-weight: bold;
}

.BodIndex .container .col1 .box .group .txt-data, .BodIndex .container .col1 .box .group2 .txt-data{
    padding-top: 25px;
    padding-bottom: 0px;

    font-size: 0.8em;

    font-family: 'Quicksand', sans-serif;
}


.BodIndex .container .col2{
    width: 70%;
    float: left;
}

.BodIndex .container .col2 .box{
    width: 100%;
    height: auto;    
}

.BodIndex .container .col2 .box .group{
    padding: 25px;
}

.BodIndex .container .col2 .box .group .btn-group{
    padding-top: 15px;
    padding-bottom: 100px;
}

.BodIndex .container .col2 .box .group .btn-group .btn-print{
    padding: 15px;
    
    border: none;
    border-radius: 5px;

    background-color: rgba(59, 159, 226, 0.787);

    color: white;
    font-weight: bold;

    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    float: right;

    outline: none;
}

.BodIndex .container .col2 .box .group .btn-group .btn-print:hover{
    background-color: rgba(59, 159, 226, 0.678);
}

.BodIndex .container .col2 .box .group .row1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.BodIndex .container .col2 .box .group .row1 .txt-title{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;

    padding-bottom: 15px;
}

.BodIndex .container .col2 .box .group .row1 .txt-group{
    padding-top: 15px;
    padding-bottom: 10px;

    width: 100%;

    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;

    font-weight: bold;
}

.BodIndex .container .col2 .box .group .row1 .input-group{
    width: 100%;
    padding-right: 25px;
}

.BodIndex .container .col2 .box .group .row1 .input-group input{
    padding: 12.5px;
    padding-right: 0px;

    width: 98.5%;

    border: none;
    border: 1px solid lightgray;

    border-radius: 5px;

    outline: none;
}

.BodIndex .container .col2 .box .group .row1 .input-group input:hover{
    border: 1px solid rgba(79, 127, 182, 0.651);
}

.BodIndex .container .col2 .box .group .row1 .input-group input:focus{
    border: 2px solid rgba(79, 127, 182, 0.616);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.BodIndex .container .col2 .box .group .row1 .input-group select{
    padding: 12px;

    width: 100%;
    
    border: 1px solid lightgray;
    border-radius: 5px;    

    background-color: white;

    color: black;

    font-family:'Montserrat', sans-serif;

    outline: none;    
}

.BodIndex .container .col2 .box .group .row1 .input-group select:hover{
    border: 1px solid rgba(79, 127, 182, 0.651);
    cursor: pointer;
}
.BodIndex .container .col2 .box .group .row1 .input-group select:focus{
    border: 2px solid rgba(79, 127, 182, 0.651);
}

.BodIndex .container .col2 .box .group .row1 .input-group select .option{
    color: dimgray;        
}



.BodIndex .container .col2 .box .group .row2{
    padding-top: 50px;
    padding-bottom: 10px;
}

.BodIndex .container .col2 .box .group .row2 .txt-title{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;

    padding-bottom: 15px;
}

.BodIndex .container .col2 .box .group .row2 .txt-group{
    padding-top: 15px;
    padding-bottom: 10px;

    width: 100%;

    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;

    font-weight: bold;
}

.BodIndex .container .col2 .box .group .row2 .input-group{
    width: 100%;
    padding-right: 25px;
}

.BodIndex .container .col2 .box .group .row2 .input-group input{
    padding: 12.5px;
    padding-right: 0px;

    width: 98.5%;

    border: none;
    border: 1px solid lightgray;

    border-radius: 5px;

    outline: none;
}

.BodIndex .container .col2 .box .group .row2 .input-group input:hover{
    border: 1px solid rgba(79, 127, 182, 0.651);
}

.BodIndex .container .col2 .box .group .row2 .input-group input:focus{
    border: 2px solid rgba(79, 127, 182, 0.616);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.BodIndex .container .col2 .box .group .row2 .input-group select{
    padding: 12px;

    width: 100%;
    
    border: 1px solid lightgray;
    border-radius: 5px;    

    background-color: white;

    color: black;

    font-family:'Montserrat', sans-serif;

    outline: none;    
}

.BodIndex .container .col2 .box .group .row2 .input-group select:hover{
    border: 1px solid rgba(79, 127, 182, 0.651);
    cursor: pointer;
}
.BodIndex .container .col2 .box .group .row2 .input-group select:focus{
    border: 2px solid rgba(79, 127, 182, 0.651);
}

.BodIndex .container .col2 .box .group .row2 .input-group select .option{
    color: dimgray;        
}

.BodIndex .container .col2 .box .group .row2 .input-group textarea{
    padding: 12.5px;
    padding-right: 0px;

    width: 98.5%;

    border: none;
    border: 1px solid lightgray;

    border-radius: 5px;

    outline: none;

    font-family: 'Montserrat', sans-serif;

    line-height: 22.5px;
}

.BodIndex .container .col2 .box .group .row2 .input-group textarea:hover{
    border: 1px solid rgba(79, 127, 182, 0.616);
}

.BodIndex .container .col2 .box .group .row2 .input-group textarea:focus{
    border: 2px solid rgba(79, 127, 182, 0.616);
}

/* style IndexAdmin.jsx */

.BodAdmin{
    width: 100%;    
    float: left;
}

.BodAdmin .col1{
    width: 25%;
    float: left;
}

.BodAdmin .col2{
    width: 50%;
    float: left;
}

.BodAdmin .col3{
    width: 25%;
    float: left;
}

/* style View.jsx */

.BodView{
    padding: 25px;   
}

.BodView .box .row{
    display: flex;
    flex-wrap: wrap;    
    padding-bottom: 25px;
}

/* .BodView .box .row .col{
    width: 50%;
} */

.BodView .box .row .col .group2{
    display: none;
}


