/* Style at Print */

@media print{    
    .BodIndex .container .col1{
        width: 50%;
        float: left;
    }
    .BodIndex .container .col2{
        display: none;
    }
    .BodIndex .container .col1 .box .group .txt-title{
        display: none;
    }
    .BodIndex .container .col1 .box .group .txt-data{
        padding-top: 5px;        
    }
    .BodIndex .container .col1 .box .group{
        padding: 15px;
        border-radius: 5px;
        border: 2px dashed dimgray;

        margin-bottom: 15px;
    }
    .BodIndex .container .col1 .box .group2{
        display: block;
    }
    .BodIndex .container .col1 .box .group2 .txt-title{
        display: none;
    }
    .BodIndex .container .col1 .box .group2 .txt-data{
        padding-top: 5px;        
    }
    .BodIndex .container .col1 .box .group2{
        padding: 15px;
        border-radius: 5px;
        border: 2px dashed dimgray;
    }
}


/* Style at Print */
